@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@layer components {
    .list-input{
        @apply border-solid bg-gray-700 border border-gray-500 rounded text-gray-300;
    }
    .list-input:focus{
        outline: none;
        @apply border-solid border-indigo-300 border;
    }

    .btn-primary{
        @apply text-white font-bold py-0.5 px-1 rounded bg-indigo-500;
    }
    .btn-primary:hover{
        @apply  bg-indigo-600;
    }


    .btn-danger{
        @apply text-white font-bold py-0.5 px-1 rounded bg-red-600;
    }
    .btn-danger:hover{
        @apply  bg-red-700;
    }

}
